<h1 style="text-align:center"> Modificar Tecnic</h1>
<mat-card class="modificar_tecnic">
  <form>
   <mat-form-field>
    <input type="text" placeholder="Nom " aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete" >
      <mat-option *ngFor="let item of filteredOptions | async" [value]="item.nomCognom" (onSelectionChange)="mostrarNom(item.nomCognom, item.projecte)">
        {{ item.nomCognom }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
      <button mat-button color="warn">Eliminar</button>
    <br/>
    <mat-form-field>
      <input type="text" matInput name="nom" placeholder="Nom Cognom" [value]="nom" /> 
    </mat-form-field>
    <br/>
    <mat-form-field>
    <input type="text" placeholder="Projecte " aria-label="Number" matInput [formControl]="myControl2" [matAutocomplete]="auto2" ><!--[value]="projecte">-->
	<mat-autocomplete #auto2="matAutocomplete" >
      <mat-option *ngFor="let pr of filteredOptions2 | async" [value]="pr.nom" ><!--(onSelectionChange)="mostrarNom(pr.nom)">-->
        {{ pr.nom }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
    <br/>
    <button mat-button>Modificar</button>
  </form>
</mat-card>


<!-- Copyright 2018 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->