<!--<link rel="stylesheet" type="text/html" href="/dragula/dist/dragula.css" media="screen" />
<link rel="stylesheet" type="text/html" href="/dragula/dist/dragula.min.css" media="screen" />
<script data-require="jquery@*" data-semver="2.1.1" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

-->
<script type="text/javascript" src="/dragula/dist/dragula.min.js"></script>
<script type="text/javascript" src="/dragula/dist/dragula.js"></script>
<!-- <script type="text/javascript" src="/dragula/dist/script.js"></script>-->
<div>
  <mat-toolbar color="primary">
    

  <button mat-button [matMenuTriggerFor]="tecnics">Tecnics</button>
  <button mat-button [matMenuTriggerFor]="projectes">Projectes</button>
    <!--<button mat-button [matMenuTriggerFor]="llocs">Llocs</button>-->
  <span class="example-spacer"></span>
  <button mat-button class="icono">
	<mat-icon>description</mat-icon>
  </button>
  <button mat-button routerLink="/user" class="icono">
	<mat-icon>home</mat-icon>
  </button>
  </mat-toolbar>
  <mat-menu x-position="before" #tecnics="matMenu">
    
  <a mat-menu-item routerLink="/afegirtecnic" routerLinkActive="active">Afegir tecnic</a>
  <a mat-menu-item routerLink="/modificartecnic" routerLinkActive="active">Modificar/Eliminar tecnic</a>
  </mat-menu>
  <mat-menu #projectes="matMenu">
  <a mat-menu-item routerLink="/afegirprojecte">Afegir projecte</a>
  <a mat-menu-item routerLink="/modificarprojecte">Modificar/Eliminar projecte</a>
</mat-menu>
<mat-menu #llocs="matMenu">
  <a mat-menu-item routerLink=".">Afegir lloc</a>
  <a mat-menu-item routerLink="/modificarlloc">Modificar/Eliminar lloc</a>
</mat-menu>

</div>
<div class='contenidor'>
	<div class='cont1'>
		<mat-card class='cerca'>

			<h3>Tecnics sense lloc</h3>

			<div class='container' [dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
				<div *ngFor="let item of filteredOptions" [style.background-color]="item.color" >
					<span>{{item.nomCognom}}</span>
				</div>
			</div>
			<br/>
		</mat-card>
	</div>

	<div class='cont_taula' *ngIf="lloc !== undefined && lloc.length > 0">
		<mat-card>
			<table>
				<tr >
					<td  class="blanc"[dragula]='"bag-task2"' > 
						<div [style.background-color]="lloc[0].color" > 
							{{lloc[0].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[1].color" > 
							{{lloc[1].nomCognom}}
						</div>					
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[2].color" > 
							{{lloc[2].nomCognom}}
						</div>					
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[3].color" > 
							{{lloc[3].nomCognom}}
						</div>
					</td>
					<td class="blanc" [dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[4].color" > 
							{{lloc[4].nomCognom}}
						</div>
					</td>
					<td ></td>
					<td></td>
					<td class="blanc" [dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[5].color" > 
							{{lloc[5].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[6].color" > 
							{{lloc[6].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[7].color" > 
							{{lloc[7].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[8].color" > 
							{{lloc[8].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[9].color" > 
							{{lloc[9].nomCognom}}
						</div>
					</td>
				</tr>
				<tr >
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[10].color" > 
							{{lloc[10].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[11].color" > 
							{{lloc[11].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[12].color" > 
							{{lloc[12].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[13].color" > 
							{{lloc[13].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[14].color" > 
							{{lloc[14].nomCognom}}
						</div>
					</td>
					<td ></td>
					<td></td>
					<td class="blanc" [dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[15].color" > 
							{{lloc[15].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[16].color" > 
							{{lloc[16].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[17].color" > 
							{{lloc[17].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[18].color" > 
							{{lloc[18].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[19].color" > 
							{{lloc[19].nomCognom}}
						</div>
					</td>
				</tr>
				<br/>
				<tr >
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[20].color" > 
							{{lloc[20].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[21].color" > 
							{{lloc[21].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[22].color" > 
							{{lloc[22].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[23].color" > 
							{{lloc[23].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[24].color" > 
							{{lloc[24].nomCognom}}
						</div>
					</td>
					<td ></td>
					<td></td>
					<td class="blanc" [dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[25].color" > 
							{{lloc[25].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[26].color" > 
							{{lloc[26].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[27].color" > 
							{{lloc[27].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[28].color" > 
							{{lloc[28].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[29].color" > 
							{{lloc[29].nomCognom}}
						</div>
					</td>
				</tr>
				<tr>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[30].color" > 
							{{lloc[30].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[31].color" > 
							{{lloc[31].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[32].color" > 
							{{lloc[32].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[33].color" > 
							{{lloc[33].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[34].color" > 
							{{lloc[34].nomCognom}}
						</div>
					</td>
					<td ></td>
					<td></td>
					<td class="blanc" [dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[35].color" > 
							{{lloc[35].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[36].color" > 
							{{lloc[36].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[37].color" > 
							{{lloc[37].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[5].color" > 
							{{lloc[5].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[5].color" > 
							{{lloc[5].nomCognom}}
						</div>
					</td>
				</tr>
				<br/>
				<tr>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[5].color" > 
							{{lloc[5].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[5].color" > 
							{{lloc[5].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[5].color" > 
							{{lloc[5].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[5].color" > 
							{{lloc[5].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[5].color" > 
							{{lloc[5].nomCognom}}
						</div>
					</td>
				</tr>
				<tr>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[5].color" > 
							{{lloc[5].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[5].color" > 
							{{lloc[5].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[5].color" > 
							{{lloc[5].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[5].color" > 
							{{lloc[5].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[5].color" > 
							{{lloc[5].nomCognom}}
						</div>
					</td>
					<td ></td>
					<td></td>
				</tr>
				<br/>
				<tr >
					<td class="blanc" [dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[5].color" > 
							{{lloc[5].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[5].color" > 
							{{lloc[5].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[5].color" > 
							{{lloc[5].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
					<div [style.background-color]="lloc[5].color" > 
							{{lloc[5].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[5].color" > 
							{{lloc[5].nomCognom}}
						</div>
					</td>
					<td ></td>
					<td></td>
					<td class="blanc" [dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[5].color" > 
							{{lloc[5].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[5].color" > 
							{{lloc[5].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[5].color" > 
							{{lloc[5].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[5].color" > 
							{{lloc[5].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[5].color" > 
							{{lloc[5].nomCognom}}
						</div>
					</td>
				</tr>
				<tr >
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[5].color" > 
							{{lloc[5].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[5].color" > 
							{{lloc[5].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[5].color" > 
							{{lloc[5].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[5].color" > 
							{{lloc[5].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[5].color" > 
							{{lloc[5].nomCognom}}
						</div>
					</td>
					<td ></td>
					<td></td>
					<td class="blanc" [dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[5].color" > 
							{{lloc[5].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[5].color" > 
							{{lloc[5].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[5].color" > 
							{{lloc[5].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[5].color" > 
							{{lloc[5].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[5].color" > 
							{{lloc[5].nomCognom}}
						</div>
					</td>
				</tr>
				<br/>
				<tr>
					<td class="blanc" [dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td ></td>
					<td></td>
					<td class="blanc" [dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
				</tr>
				<tr>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td ></td>
					<td></td>
					<td class="blanc" [dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
				</tr>
				<br/>
				<tr >
					<td class="blanc" [dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td ></td>
					<td></td>
					<td class="blanc" [dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
				</tr>
				<tr>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td ></td>
					<td></td>
					<td class="blanc" [dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
				</tr>
				<br/>
				<tr>
					<td class="blanc" [dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td ></td>
					<td></td>
					<td class="blanc" [dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
				</tr>
				<tr >
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td ></td>
					<td></td>
					<td class="blanc" [dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
				</tr>
				<br/>
			</table>
		</mat-card>
	</div>
</div>

<router-outlet></router-outlet>

<!-- /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->	
	
        <!--<div class='container' >
		  <div class='cadira' [dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></div>
		  <div class='cadira' [dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></div>
		  <div class='cadira' [dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></div> 
        </div>
		<div class='container' >
		<div class='cadira' [dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></div>
		</div>-->
<!--<div>
	<mat-table [dataSource]="dataSource1">
		<ng-container matColumnDef="nom">
			<mat-header-cell *matHeaderCellDef> Nom Tecnic </mat-header-cell>
			<mat-cell *ngFor="let item of filteredOptions">{{item.nomCognom}}</mat-cell>
		</ng-container>
	<mat-header-row *matHeaderRowDef="displayedColumns1"></mat-header-row>
	<mat-row *matRowDef="let item of filteredOptions; displayedColumns1;"</mat-row>
	</mat-table>
	<!--<mat-paginator [pageSize]="10"></mat-paginator>
</div>-->


