<!--<link rel="stylesheet" type="text/html" href="/dragula/dist/dragula.css" media="screen" />
<link rel="stylesheet" type="text/html" href="/dragula/dist/dragula.min.css" media="screen" />
<script data-require="jquery@*" data-semver="2.1.1" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

-->
<script type="text/javascript" src="/dragula/dist/dragula.min.js"></script>
<script type="text/javascript" src="/dragula/dist/dragula.js"></script>
<!-- <script type="text/javascript" src="/dragula/dist/script.js"></script>-->
<div>
  <mat-toolbar color="primary">
    

  <button mat-button [matMenuTriggerFor]="tecnics">Tecnics</button>
  <button mat-button [matMenuTriggerFor]="projectes">Projectes</button>
    <!--<button mat-button [matMenuTriggerFor]="llocs">Llocs</button>-->
  <span class="example-spacer"></span>
  <button mat-button class="icono">
	<mat-icon>description</mat-icon>
  </button>
  <button mat-button routerLink="/user" class="icono">
	<mat-icon>home</mat-icon>
  </button>
  </mat-toolbar>
  <mat-menu x-position="before" #tecnics="matMenu">
    
  <a mat-menu-item routerLink="/afegirtecnic" routerLinkActive="active">Afegir tecnic</a>
  <a mat-menu-item routerLink="/modificartecnic" routerLinkActive="active">Modificar/Eliminar tecnic</a>
  </mat-menu>
  <mat-menu #projectes="matMenu">
  <a mat-menu-item routerLink="/afegirprojecte">Afegir projecte</a>
  <a mat-menu-item routerLink="/modificarprojecte">Modificar/Eliminar projecte</a>
</mat-menu>
<mat-menu #llocs="matMenu">
  <a mat-menu-item routerLink=".">Afegir lloc</a>
  <a mat-menu-item routerLink="/modificarlloc">Modificar/Eliminar lloc</a>
</mat-menu>

</div>
<div class='contenidor'>
	<div class='cont1'>
		<mat-card class='cerca'>

			<h3>Tecnics sense lloc</h3>

			<div class='container' [dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
				<div *ngFor="let item of filteredOptions" [style.background-color]="item.color" >
					<span>{{item.nomCognom}}</span>
				</div>
			</div>
			<br/>
		</mat-card>
	</div>

	<div class='cont_taula' *ngIf="lloc !== undefined && lloc.length > 0">
		<mat-card>
			<table>
				<tr >
					<td  class="blanc"[dragula]='"bag-task2"' > 
						<div [style.background-color]="lloc[0].color" > 
							{{lloc[0].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[1].color" > 
							{{lloc[1].nomCognom}}
						</div>					
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[2].color" > 
							{{lloc[2].nomCognom}}
						</div>					
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[3].color" > 
							{{lloc[3].nomCognom}}
						</div>
					</td>
					<td class="blanc" [dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[4].color" > 
							{{lloc[4].nomCognom}}
						</div>
					</td>
					<td ></td>
					<td></td>
					<td class="blanc" [dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[5].color" > 
							{{lloc[5].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[6].color" > 
							{{lloc[6].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[7].color" > 
							{{lloc[7].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[8].color" > 
							{{lloc[8].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[9].color" > 
							{{lloc[9].nomCognom}}
						</div>
					</td>
				</tr>
				<tr >
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[10].color" > 
							{{lloc[10].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[11].color" > 
							{{lloc[11].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[12].color" > 
							{{lloc[12].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[13].color" > 
							{{lloc[13].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[14].color" > 
							{{lloc[14].nomCognom}}
						</div>
					</td>
					<td ></td>
					<td></td>
					<td class="blanc" [dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[15].color" > 
							{{lloc[15].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[16].color" > 
							{{lloc[16].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[17].color" > 
							{{lloc[17].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[18].color" > 
							{{lloc[18].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[19].color" > 
							{{lloc[19].nomCognom}}
						</div>
					</td>
				</tr>
				<br/>
				<tr >
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[20].color" > 
							{{lloc[20].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[21].color" > 
							{{lloc[21].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[22].color" > 
							{{lloc[22].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[23].color" > 
							{{lloc[23].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[24].color" > 
							{{lloc[24].nomCognom}}
						</div>
					</td>
					<td ></td>
					<td></td>
					<td class="blanc" [dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[25].color" > 
							{{lloc[25].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[26].color" > 
							{{lloc[26].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[27].color" > 
							{{lloc[27].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[28].color" > 
							{{lloc[28].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[29].color" > 
							{{lloc[29].nomCognom}}
						</div>
					</td>
				</tr>
				<tr>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[30].color" > 
							{{lloc[30].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[31].color" > 
							{{lloc[31].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[32].color" > 
							{{lloc[32].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[33].color" > 
							{{lloc[33].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[34].color" > 
							{{lloc[34].nomCognom}}
						</div>
					</td>
					<td ></td>
					<td></td>
					<td class="blanc" [dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[35].color" > 
							{{lloc[35].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[36].color" > 
							{{lloc[36].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[37].color" > 
							{{lloc[37].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[38].color" > 
							{{lloc[38].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[39].color" > 
							{{lloc[39].nomCognom}}
						</div>
					</td>
				</tr>
				<br/>
				<tr>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[40].color" > 
							{{lloc[40].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[41].color" > 
							{{lloc[41].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[42].color" > 
							{{lloc[42].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[43].color" > 
							{{lloc[43].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[44].color" > 
							{{lloc[44].nomCognom}}
						</div>
					</td>
				</tr>
				<tr>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[5].color" > 
							{{lloc[45].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[46].color" > 
							{{lloc[46].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[47].color" > 
							{{lloc[47].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[48].color" > 
							{{lloc[48].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[49].color" > 
							{{lloc[49].nomCognom}}
						</div>
					</td>
					<td ></td>
					<td></td>
				</tr>
				<br/>
				<tr >
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[50].color" > 
							{{lloc[50].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[51].color" > 
							{{lloc[51].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
					<div [style.background-color]="lloc[52].color" > 
							{{lloc[52].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[53].color" > 
							{{lloc[53].nomCognom}}
						</div>
					</td>
					<td class="blanc" [dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[54].color" > 
							{{lloc[54].nomCognom}}
						</div>
					</td>
					<td ></td>
					<td></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[55].color" > 
							{{lloc[55].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[56].color" > 
							{{lloc[56].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[57].color" > 
							{{lloc[57].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[58].color" > 
							{{lloc[58].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[59].color" > 
							{{lloc[59].nomCognom}}
						</div>
					</td>
				</tr>
				<tr >
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[60].color" > 
							{{lloc[60].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[61].color" > 
							{{lloc[61].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[62].color" > 
							{{lloc[62].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[63].color" > 
							{{lloc[63].nomCognom}}
						</div>
					</td>
					<td class="blanc" [dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[64].color" > 
							{{lloc[64].nomCognom}}
						</div>
					</td>
					<td ></td>
					<td></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[65].color" > 
							{{lloc[65].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[66].color" > 
							{{lloc[66].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[67].color" > 
							{{lloc[67].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[68].color" > 
							{{lloc[68].nomCognom}}
						</div>
					</td>
					<td class="blanc" [dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[69].color" > 
							{{lloc[69].nomCognom}}
						</div>
					</td>
				</tr>
				<br/>
				<tr>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[70].color" > 
							{{lloc[70].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[71].color" > 
							{{lloc[71].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[72].color" > 
							{{lloc[72].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[73].color" > 
							{{lloc[73].nomCognom}}
						</div>
					</td>
					<td class="blanc" [dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[74].color" > 
							{{lloc[74].nomCognom}}
						</div>
					</td>
					<td ></td>
					<td></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[75].color" > 
							{{lloc[75].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[76].color" > 
							{{lloc[76].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[77].color" > 
							{{lloc[77].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[78].color" > 
							{{lloc[78].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[79].color" > 
							{{lloc[79].nomCognom}}
						</div>
					</td>
				</tr>
				<tr>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
					<div [style.background-color]="lloc[80].color" > 
							{{lloc[80].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[81].color" > 
							{{lloc[81].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[82].color" > 
							{{lloc[82].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[83].color" > 
							{{lloc[83].nomCognom}}
						</div>
					</td>
					<td class="blanc" [dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[84].color" > 
							{{lloc[84].nomCognom}}
						</div>
					</td>
					<td ></td>
					<td></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[85].color" > 
							{{lloc[85].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[86].color" > 
							{{lloc[86].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[87].color" > 
							{{lloc[87].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[88].color" > 
							{{lloc[88].nomCognom}}
						</div>
					</td>
					<td class="blanc" [dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[89].color" > 
							{{lloc[89].nomCognom}}
						</div>
					</td>
				</tr>
				<br/>
				<tr >
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[90].color" > 
							{{lloc[90].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[91].color" > 
							{{lloc[91].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[92].color" > 
							{{lloc[92].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[93].color" > 
							{{lloc[93].nomCognom}}
						</div>
					</td>
					<td class="blanc" [dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[94].color" > 
							{{lloc[94].nomCognom}}
						</div>
					</td>
					<td ></td>
					<td></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[95].color" > 
							{{lloc[95].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[96].color" > 
							{{lloc[96].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[97].color" > 
							{{lloc[97].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[98].color" > 
							{{lloc[98].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[99].color" > 
							{{lloc[99].nomCognom}}
						</div>
					</td>
				</tr>
				<tr>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
					<div [style.background-color]="lloc[100].color" > 
							{{lloc[100].nomCognom}}
						</div></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[101].color" > 
							{{lloc[101].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[102].color" > 
							{{lloc[102].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
					<div [style.background-color]="lloc[103].color" > 
							{{lloc[103].nomCognom}}
						</div>
					</td>
					<td class="blanc" [dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[104].color" > 
							{{lloc[104].nomCognom}}
						</div>
					</td>
					<td ></td>
					<td></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[105].color" > 
							{{lloc[105].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[106].color" > 
							{{lloc[106].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[107].color" > 
							{{lloc[107].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[108].color" > 
							{{lloc[108].nomCognom}}
						</div>
					</td>
					<td class="blanc" [dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[109].color" > 
							{{lloc[109].nomCognom}}
						</div>
					</td>
				</tr>
				<br/>
				<tr>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[110].color" > 
							{{lloc[110].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[111].color" > 
							{{lloc[111].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[68].color" > 
							{{lloc[112].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[113].color" > 
							{{lloc[113].nomCognom}}
						</div>
					</td>
					<td class="blanc" [dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[114].color" > 
							{{lloc[114].nomCognom}}
						</div>
					</td>
					<td ></td>
					<td></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[115].color" > 
							{{lloc[115].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[116].color" > 
							{{lloc[116].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[117].color" > 
							{{lloc[117].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[118].color" > 
							{{lloc[118].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[119].color" > 
							{{lloc[119].nomCognom}}
						</div>
					</td>
				</tr>
				<tr >
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[120].color" > 
							{{lloc[120].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[121].color" > 
							{{lloc[121].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[122].color" > 
							{{lloc[122].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[123].color" > 
							{{lloc[123].nomCognom}}
						</div>
					</td>
					<td class="blanc" [dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[124].color" > 
							{{lloc[124].nomCognom}}
						</div>
					</td>
					<td ></td>
					<td></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[125].color" > 
							{{lloc[125].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[126].color" > 
							{{lloc[126].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[127].color" > 
							{{lloc[127].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[128].color" > 
							{{lloc[128].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="lloc[129].color" > 
							{{lloc[129].nomCognom}}
						</div>
					</td>
				</tr>
				<br/>
			</table>
		</mat-card>
	</div>
</div>

<router-outlet></router-outlet>

<!-- /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->	
	
        <!--<div class='container' >
		  <div class='cadira' [dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></div>
		  <div class='cadira' [dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></div>
		  <div class='cadira' [dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></div> 
        </div>
		<div class='container' >
		<div class='cadira' [dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></div>
		</div>-->
<!--<div>
	<mat-table [dataSource]="dataSource1">
		<ng-container matColumnDef="nom">
			<mat-header-cell *matHeaderCellDef> Nom Tecnic </mat-header-cell>
			<mat-cell *ngFor="let item of filteredOptions">{{item.nomCognom}}</mat-cell>
		</ng-container>
	<mat-header-row *matHeaderRowDef="displayedColumns1"></mat-header-row>
	<mat-row *matRowDef="let item of filteredOptions; displayedColumns1;"</mat-row>
	</mat-table>
	<!--<mat-paginator [pageSize]="10"></mat-paginator>
</div>-->


