
.example-spacer {
  flex: 1 1 auto;
}
.wrapper {
  display: table;
}
.container {
  display: table;
  background-color: rgba(255, 255, 255, 0.2);
  color:white;
  width: 50%;
}
.container:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.2);
}
/*
 * note that styling gu-mirror directly is a bad practice because it's too generic.
 * you're better off giving the draggable elements a unique class and styling that directly!
 */
.container div,
.container th,
.gu-mirror {
  margin: 10px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 0.4s ease-in-out;
  color:white;
}
.container div,
.container tr, {
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
.gu-mirror {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
.container .ex-moved,
td{
  background-color: #e74c3c;
  color:white;
}
.container.ex-over,
td {
  background-color: rgba(255, 255, 255, 0.3);
  color:white;
}
.handle {
  padding: 0 5px;
  margin-right: 5px;
  background-color: rgba(0, 0, 0, 0.4);
  cursor: move;
  color:white;
}
nested-repeat-example .container th {
  display: block;
  padding: 0px;
}
.cont_taula{
	float:left;
	position:absolute;
	padding-right:100px;
	padding-left:50px;
	
}
.cont1{
	float:right;
	padding-right:100px;
}
.contenidor{
	position: relative;
	width:100%;
	height:500px;
}
.cadira{
	float: left;
	padding-top:0px;
	padding-bottom:0px;
}
table{
	table-layout: fixed;
}
th,td{
	
	width:65px;
	height:35px;
}
.blanc{
	border: 1px solid black;
}


