<!--<link rel="stylesheet" type="text/html" href="/dragula/dist/dragula.css" media="screen" />
<link rel="stylesheet" type="text/html" href="/dragula/dist/dragula.min.css" media="screen" />
<script data-require="jquery@*" data-semver="2.1.1" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

-->
<script type="text/javascript" src="/dragula/dist/dragula.min.js"></script>
<script type="text/javascript" src="/dragula/dist/dragula.js"></script>
<!-- <script type="text/javascript" src="/dragula/dist/script.js"></script>-->
<div>
  <mat-toolbar color="primary">
    

  <button mat-button [matMenuTriggerFor]="tecnics">Tecnics</button>
  <button mat-button [matMenuTriggerFor]="projectes">Projectes</button>
    <!--<button mat-button [matMenuTriggerFor]="llocs">Llocs</button>-->
  <span class="example-spacer"></span>
  <button mat-button class="icono">
	<mat-icon>description</mat-icon>
  </button>
  <button mat-button routerLink="/user" class="icono">
	<mat-icon>home</mat-icon>
  </button>
  </mat-toolbar>
  <mat-menu x-position="before" #tecnics="matMenu">
    
  <a mat-menu-item routerLink="/afegirtecnic" routerLinkActive="active">Afegir tecnic</a>
  <a mat-menu-item routerLink="/modificartecnic" routerLinkActive="active">Modificar/Eliminar tecnic</a>
  </mat-menu>
  <mat-menu #projectes="matMenu">
  <a mat-menu-item routerLink="/afegirprojecte">Afegir projecte</a>
  <a mat-menu-item routerLink="/modificarprojecte">Modificar/Eliminar projecte</a>
</mat-menu>
<mat-menu #llocs="matMenu">
  <a mat-menu-item routerLink=".">Afegir lloc</a>
  <a mat-menu-item routerLink="/modificarlloc">Modificar/Eliminar lloc</a>
</mat-menu>

</div>
<div class='contenidor'>
	<div class='cont1'>
		<mat-card class='cerca'>

			<h3>Tecnics sense lloc</h3>

			<div class='container' [dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
				<div *ngFor="let item of filteredOptions" [style.background-color]="item.color" >
					<span>{{item.nomCognom}}</span>
				</div>
			</div>
			<br/>
		</mat-card>
	</div>

	<div class='cont_taula'>
		<mat-card>
			<table >
				<tr >
					<td  class="blanc"[dragula]='"bag-task2"' > 
						<div [style.background-color]="assignats[0].color" > 
							{{assignats[0].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="assignats[1].color" > 
							{{assignats[1].nomCognom}}
						</div>					
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="assignats[2].color" > 
							{{assignats[2].nomCognom}}
						</div>					
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="assignats[3].color" > 
								{{assignats[3].nomCognom}}
						</div>
					</td>
					<td [innerHtml]="htmlStr" class="blanc" [dragula]='"bag-task2"' ></td>
					<td ></td>
					<td></td>
					<td class="blanc" [dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
						<div [style.background-color]="assignats[5].color" > 
								{{assignats[5].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'>
					<div [style.background-color]="assignats[6].color" > 
							{{assignats[6].nomCognom}}
						</div>
					</td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
				</tr>
				<tr >
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td ></td>
					<td></td>
					<td class="blanc" [dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
				</tr>
				<br/>
				<tr >
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td ></td>
					<td></td>
					<td class="blanc" [dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
				</tr>
				<tr>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td ></td>
					<td></td>
					<td class="blanc" [dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
				</tr>
				<br/>
				<tr>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
				</tr>
				<tr>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td ></td>
					<td></td>
				</tr>
				<br/>
				<tr >
					<td class="blanc" [dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td ></td>
					<td></td>
					<td class="blanc" [dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
				</tr>
				<tr >
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td ></td>
					<td></td>
					<td class="blanc" [dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
				</tr>
				<br/>
				<tr>
					<td class="blanc" [dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td ></td>
					<td></td>
					<td class="blanc" [dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
				</tr>
				<tr>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td ></td>
					<td></td>
					<td class="blanc" [dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
				</tr>
				<br/>
				<tr >
					<td class="blanc" [dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td ></td>
					<td></td>
					<td class="blanc" [dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
				</tr>
				<tr>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td ></td>
					<td></td>
					<td class="blanc" [dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
				</tr>
				<br/>
				<tr>
					<td class="blanc" [dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td ></td>
					<td></td>
					<td class="blanc" [dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
				</tr>
				<tr >
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td ></td>
					<td></td>
					<td class="blanc" [dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
					<td class="blanc"[dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></td>
				</tr>
				<br/>
			</table>
		</mat-card>
	</div>
</div>

<router-outlet></router-outlet>

<!-- /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->	
	
        <!--<div class='container' >
		  <div class='cadira' [dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></div>
		  <div class='cadira' [dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></div>
		  <div class='cadira' [dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></div> 
        </div>
		<div class='container' >
		<div class='cadira' [dragula]='"bag-task2"' [dragulaModel]='filteredOptions'></div>
		</div>-->
<!--<div>
	<mat-table [dataSource]="dataSource1">
		<ng-container matColumnDef="nom">
			<mat-header-cell *matHeaderCellDef> Nom Tecnic </mat-header-cell>
			<mat-cell *ngFor="let item of filteredOptions">{{item.nomCognom}}</mat-cell>
		</ng-container>
	<mat-header-row *matHeaderRowDef="displayedColumns1"></mat-header-row>
	<mat-row *matRowDef="let item of filteredOptions; displayedColumns1;"</mat-row>
	</mat-table>
	<!--<mat-paginator [pageSize]="10"></mat-paginator>
</div>-->


