<div>
	<mat-toolbar color="primary">
		<button mat-button [matMenuTriggerFor]="tecnics">Tecnics</button>
		<button mat-button [matMenuTriggerFor]="projectes">Projectes</button>
		<button mat-button [matMenuTriggerFor]="llocs">Llocs</button>
		<span class="example-spacer"></span>
		<button mat-button routerLink="/user" class="icono">
			<mat-icon>home</mat-icon>
		 </button>
	</mat-toolbar>
	<mat-menu x-position="before" #tecnics="matMenu">
		<a mat-menu-item routerLink="/afegirtecnic" routerLinkActive="active">Afegir tecnic</a>
		<a mat-menu-item routerLink="/modificartecnic" routerLinkActive="active">Modificar/Eliminar tecnic</a>
	</mat-menu>
	<mat-menu #projectes="matMenu">
		<a mat-menu-item routerLink="/afegirprojecte">Afegir projecte</a>
		<a mat-menu-item routerLink="/modificarprojecte">Modificar/Eliminar projecte</a>
	</mat-menu>
	<mat-menu #llocs="matMenu">
		<a mat-menu-item routerLink=".">Afegir lloc</a>
		<a mat-menu-item routerLink="/modificarlloc">Modificar/Eliminar lloc</a>
	</mat-menu>
</div>

<h1 style="text-align:center"> Afegir Tecnic</h1>
<mat-card>
	<form>  
		<mat-form-field>
			<input name ="nom" [(ngModel)] ="tecnic.nomCognom" matInput placeholder="Nom Cognom" [value]="blanc"> 
		</mat-form-field>
		<br/>
		<mat-form-field>
			<input name="dataAlta" [(ngModel)] ="tecnic.dataAlta" matInput [matDatepicker]="picker" placeholder="Data alta" [value]="blanc">
				<mat-datepicker-toggle matSuffix [for] ="picker"></mat-datepicker-toggle>
				<mat-datepicker #picker></mat-datepicker>
		</mat-form-field>
		<br/>
		<mat-form-field>
			<input type="text" placeholder="Projecte " aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto" [value]="blanc">
			<mat-autocomplete #auto="matAutocomplete">
				<mat-option *ngFor="let item of filteredOptions | async" [value]="item.nom" (onSelectionChange)="agafarNom(item.nom)">
					{{ item.nom }}
				</mat-option>
			</mat-autocomplete>
		</mat-form-field>
		<br/>	
		<button  (click)="onSubmit()" mat-button>Afegir</button>	
	</form>
</mat-card>